#testeEstilo {
    color:white;
    background-color: gray;
}

.estileira {
    color:purple;
    background-color:lightgreen;
}

#profundeza1 .profundo {
    color:red;
    background-color: lightblue;
}