h1{
    font-size: 50px;
}

h3{
    font-size: 35px;

}

p{
    font-size: 20px;
}

#bgBlue{
    max-width: 300px;
    background-color: blue;
    color: whitesmoke;
    font-size: 20px;
}

#bgGray{
    background-color: gray;
    max-width: 400px;
}

#bgGray #bgViolet{
    background-color: violet;
    text-indent: 25px;
}

#bgGray #bgRed{
    font-size: 16px;
    background-color: red;
    text-indent: 25px;
}

#udy{
    width: 800px;
    height: 800px;
    background-image: url("udy.jpg");
}