td.serif{
    font-family: "Times New Roman", Times, serif;
}
td.sansserif{
    font-family: Helvetica, Arial, sans-serif;
}
td.monospace{
    font-family: "Courier New", Courier, monospace;
}
td.cursive{
    font-family: Florence, cursive;
}
td.fantasy{
    font-family: Blippo, fantasy;
}
#tamanho .small{
    font-size: small;
}
#tamanho .medium{
    font-size: medium;
}
#tamanho .large{
    font-size: large;
}
#tamanho .larger{
    font-size: larger;
}
#pixelsEms .px20{
    font-size: 20px;
}
#pixelsEms .em15{
    font-size: 1.5em;
}
#mario{
    font-style: italic;
}
#peso .lighter{
    font-weight: lighter;
}
#peso .bold{
    font-weight: bold;
}
#peso .bolder{
    font-weight: bolder;
}
#variante .normal{
    font-variant: normal;
}
#variante .smallCaps{
    font-variant: small-caps;
}